body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color:lightblue;
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
select, input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}
button {
    padding: 10px 20px;
    background-color:seagreen;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color:#749BC2;
}
.result {
    margin-top: 20px;
    font-weight: bold;
}